@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-Regular.ttf);
}
*{
    font-family: 'Poppins';
}

form{
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: none;
}
fieldset legend{
    text-align: center;
}

fieldset{
    border: none;
}
.input-text{
    border: 1px solid #212121;
    border-radius: 8px;
    padding: 0.4vw;
    margin: 0 0 1.5vh 0;
}
.input-submit{
    border-radius: 8px;
    border: none;
    padding: 0.5vw;
    font-size: 2vh;
    cursor: pointer;
}
b, legend{
    font-size: 2.25vh;
    margin: 0 0 0.5vh 0;
}
#a{
    display: flex;
    justify-content: center;
}
#b{
    display: flex;
    justify-content: center;
   
}